/* Base Elements */
html,
body {
  background-color: #f6f6f6;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

p {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.4;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

/* Nav */
.nav {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.nav-list-item {
  display: flex;
  font: bold 16px Arial;
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;
}

.nav-list-item a {
  color: #333;
  text-transform: capitalize;
}

/* Create Post Button */
.button-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #144e9a;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 0.5rem 1rem;
}

.btn-primary {
  background-color: #f05f44;
  border-color: #f05f44;
  color: black;
}
.btn-primary:active {
  background-color: #ee4b08;
  color: #000000;
}
.btn-secondary {
  background-color: #000000;
  color: #ee4b08;
}
.btn-secondary:active {
  background-color: #000000;
  color: #ee4b08;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  /* border-width: 5px; */
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

/* Plus Button to create post */
.CreateButton-Container {
  background: linear-gradient(90deg, #ee4b08 0%, #886653 100%);
  position: fixed;
  bottom: 25px;
  left: 85%;
  width: 45px;
  height: 45px;
  z-index: 100;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.CreateButton {
  margin: 5px auto;
  width: 50%;
  height: 50%;
  color: black;
}

.CreateButton p {
  margin: 0;
  padding-top: 0;
  padding-left: 3px;
  padding-bottom: 0;
  padding-right: 0;
  font-size: 1.6em;
}
